.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.calculator {
  width: 200px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exp{
  width: 95%;
  height: 5px;
  padding: 5px;
  margin-bottom: 1px;
  font-size: 10px;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.display {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.button-row {
  margin-bottom: 10px;
}

button {
  width: 25%;
  height: 40px;
  padding: 10px;
  font-size: medium;
}

#clear{
  width: 100px;
  height: 40px;
}

#zero{
  height: 40px;
  width: 100px;
}

